
h3, h1, h2{
  color: #1879bf;
  text-align: center;
}


body{
    /*background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-snowflake-background.png") no-repeat top center fixed;*/
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000000;
}

/* Remove the top nav bar */
.top-bar {
    display: none;
}

@media (min-width: 992px) {
    .header-spacer.with-top-bar-alt {
        height: 0px;
    }
}

/* End Remove the top nav bar */

.boxed {
    background: url("#") no-repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size:cover;


    text-align: center; 
    background-size: 100% 100%;
    color: #ffffff;
}

div.boxed p, div.boxed h3, div.boxed h2, div.boxed h1 {
    color: #000000;
}

@media only screen and (min-width: 1124px) {
    .boxed {
        /*background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/rippedpapertape.png") no-repeat top center;*/
        padding: 8% 9% 5% 5%;
}

    .titleImage {
        background-position: left top;
}
}

@media only screen and (max-width: 1124px) {
    .boxed {
        padding: 33% 9% 20% 5%;
        background: url("#") no-repeat top center;
    }
    
    .titleImage {
        background-position: left top;
    }
}

/* .boxed h2 {
    font-family: 'Permanent Marker', cursive;
} */



.page-content {
    background-color: transparent;
}

.collection-filters {
    display: none;
}

.titleImage {
    /*height: 500px;
    background-image: url('https://cdn.givecloud.co/s/files/1/0000/0348/files/take2.jpg'); 
     
    background-size: auto 90%;
    background-attachment: fixed; 
    background-color: #8c8c8c; 
    justify-content: center; 
    align-items: center;*/
    display: flex; 
    
}

.titleImage h2 {
    color: white;
    font-weight: bold;
}


.landscape-text-overlay {
    position: relative;
    transform: translate(0, 370%);
    color: white;
    z-index: 1;
}
.landscape-button-overlay {
    position: relative;
    
    transform: translate(0, 430%);
    color: white;
    border-color: white;
    background-color: transparent;
    font-weight: 900;
    letter-spacing: 1px;
    
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, 300%);
    color: white;
}

.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
    color: white;
    border-color: white;
    background-color: transparent;
    font-weight: 900;
    letter-spacing: 1px;
    
}



.col-md-4 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.col-md-6 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.collection {
    width: 100%;
    background-size: contain;
    border-radius: 5% !important;
    
    
    height: 0px;
    padding-bottom: 66.66%;
    
}

div.collection>img {
    filter: brightness(80%);
}



.collection:hover img{
    opacity: 10;
    
    
}

.centering-wrapper {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}


.itemBox {
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-box-with-snowflakes-bottom-gradient.png") repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size:cover;


    text-align: center; 
    /*background-size: 100% 100%;*/
    color: #000000;
}

.product-grid-item {
    /*background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/brown-motif-no-tear.jpg") no-repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size: 100%;


    text-align: center; 
    background-size: 100% 100%;
    color: #000000;
}

.card-actions a{
    border-color: #18649f !important;
    background-color: #18649f !important;
}

.btn-outline-primary {
    color: white !important;
}

.card-price {
    display: none !important;
}

.storyImage {
    border-radius: 10px;
}

.red {
    color: #da3747;
    text-transform: capitalize;
}

.uppercase {
    text-transform: capitalize;
}

.toc:nth-of-type(even) {
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/white-bubble-bg.jpg") repeat top center;
    /*padding: 8% 9% 5% 5%;*/
background-size:cover;


text-align: center; 
/*background-size: 100% 100%;*/
color: #000000; 
}

.toc-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.flex {
    display: flex;
}

.toc-image {
    width: 50%;
}

.toc:nth-of-type(odd) > .container > .py-5 > .flex > .toc-image { order: 1; }

.toc-image > .mceEditable {
    display: flex;
    align-items: center;
}

.toc-image > .mceEditable > img {
    margin: auto;
}

a.btn.btn-red {
    color: #fff !important;
    background-color: #da3747;
    border-color: #da3747;
}


header.christmas {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 4%;
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-menu-snowflakes.jpg") repeat top center;
    background-size:cover;  
}

nav {
    margin: 5px 5px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0rem .9rem;
    
}

 .nav_links li a {
     color: white;
     font-size: 14px;
     text-transform: uppercase;
     font-weight: bold;
 }

.logo {
    cursor: pointer;
    margin-right: auto;
    
}

a.nav-atn {
    background-color: #0f639e;
    border-radius: .7rem;
    padding: 0.3rem 1.1rem;
    border-color: #0f639e;
    color: white;
    white-space: nowrap;
}


