header .top-bar .brand img {
    max-width:200px;
    height:auto;
}

.template--collection-grid-without-filter .title-bar{
          background-image:none !important;
         background-color: #fff;
}


h3 {
  color: white;
}

p {
  color: white;
}

body{
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-snowflake-background.png") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
}

.products-grid .product-grid-item{
    background-color: #cc2936 !important;
}

.products-grid .card-title a{
    color: #fff !important;
}

.products-grid .product-grid-item .btn-primary {
    border-color: #fff !important;
    background-color: #cc2936 !important;
}

.products-grid .product-grid-item .btn-outline-primary {
    border-color: #fff !important;
    color: #fff !important;
}

.product-add-to-cart .form-group label{
    color: #000 !important;
}

.top-bar {
    display: none;
}

.boxed {
    text-align: center; 
    border: 1px solid #cc2936; 
    padding-left: 10px; 
    padding-right: 10px;
}