
h3, h1, h2, p{
  color: white;
  text-align: center;
}


body{
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-snowflake-background.png") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
}

/* Remove the top nav bar */
.top-bar {
    display: none;
}

@media (min-width: 992px) {
    .header-spacer.with-top-bar-alt {
        height: 0px;
    }
}

/* End Remove the top nav bar */

.boxed {
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/rippedpapertape.png") no-repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size:cover;


    text-align: center; 
    background-size: 100% 100%;
    color: #000000;
}

.boxed p, h3, h2, h1 {
    color: #000000;
}

@media only screen and (min-width: 1124px) {
    .boxed {
        /*background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/rippedpapertape.png") no-repeat top center;*/
        padding: 8% 9% 5% 5%;
}

    .titleImage {
        background-position: center top;
}
}

@media only screen and (max-width: 1124px) {
    .boxed {
        padding: 33% 9% 20% 5%;
        background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/tall-paper-ripped.png") no-repeat top center;
    }
    
    .titleImage {
        background-position: left top;
    }
}

/* .boxed h2 {
    font-family: 'Permanent Marker', cursive;
} */



.page-content {
    background-color: transparent;
}

.collection-filters {
    display: none;
}

.titleImage {
    height: 500px;
    background-image: url('https://cdn.givecloud.co/s/files/1/0000/0348/files/2nd-page-spread-1.jpg'); 
     
    background-size: cover; 
    background-attachment: fixed; 
    background-color: #8c8c8c; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.titleImage h2 {
    color: white;
    font-weight: bold;
}


.landscape-text-overlay {
    position: relative;
    transform: translate(0, 370%);
    color: white;
    z-index: 1;
}
.landscape-button-overlay {
    position: relative;
    
    transform: translate(0, 430%);
    color: white;
    border-color: white;
    background-color: transparent;
    font-weight: 900;
    letter-spacing: 1px;
    
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, 300%);
    color: white;
}

.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
    color: white;
    border-color: white;
    background-color: transparent;
    font-weight: 900;
    letter-spacing: 1px;
    
}

.img {
    
    
}

.col-md-4 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.col-md-6 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.collection {
    width: 100%;
    background-size: contain;
    border-radius: 5% !important;
    
    
    height: 0px;
    padding-bottom: 66.66%;
    
}

div.collection>img {
    filter: brightness(80%);
}



.collection:hover img{
    opacity: 10;
    
    
}

.centering-wrapper {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}


.itemBox {
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/blue-background-landscape.jpg") no-repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size:cover;


    text-align: center; 
    background-size: 100% 100%;
    color: #000000;
}

.product-grid-item {
    background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/brown-motif-no-tear.jpg") no-repeat top center;
        /*padding: 8% 9% 5% 5%;*/
    background-size:cover;


    text-align: center; 
    background-size: 100% 100%;
    color: #000000;
}