

/* This is the CSS file for the 2022 Christmas Catalog site */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif !important;
    text-align: center;
    text-transform: uppercase;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
    color: white;
}

body {
    text-align: center;
}

.top-bar {
    display: none;
}

 div.red {
    color: #ffffff;
    background-color: #e90000;
}

div.black {
    color: #ffffff;
    background-color: #000;
}

.white {
    background: white;
    width: 100 vw;
    padding-bottom: 20px;
}

.white > p, h1, h2, h3, h4, h5 {
    color: #000 !important;
}

footer > h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
}

p.red, h1.red, h2.red, h3.red, h4.red, h5.red, h6.red {
    color: #e90000 !important;
}

h1.red {
    color: #e90000 !important;
}

span.red {
    color: #e90000 !important;
}


a.red-button {
    background-color: #e90000;
    color: #ffffff !important;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, background-position, border-color, box-shadow;
    font-family: Lato;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    background-origin: border-box;
}

em {
    color: #e7a533;
}

.activity {
    padding: 20px;
    max-height: 80vh;
    max-width: 400px;
}

.top-bar-alt {
    background-color: #e90000 !important;
}

.round {
    clip-path: circle();
    max-width: 300px;
}

.itemCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCardContent {
    min-width: 300px;
    text-align: left;
}

.itemCardContent > h3, h2 {
margin: 0px;

}

.cloudy {
    background-image: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring.png");
    background-color: #fff;
    background-repeat: no-repeat;
    /*background-size: contain;*/
}

.cloudy > h1, h2, h3, h4, h5, p {
    color: #000 !important;
}

body {
    background-color: #000;
}

#ccMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

#ccMenu > .h5 {
    padding-left: 20px;
    padding-right: 20px;
};





/* Mobile Menu CSS */

.menu-wrap {
    /*position: fixed;
    top: 0;*/
    left: 0;
    z-index: 1;
    
}

.menu-wrap .toggler {
    position: fixed;
    /*top: 0;
    left: 0;*/
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: relative;
    /*top: 0;
    left: 0;*/
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger lines */



div.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #961a1d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; 
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler Animate */



.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);

    
}

/* Turn Lines into x */

    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);

        }
        
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    display: none;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    display: block;
    
}

.menu-wrap .toggler:checked ~ .hamburger {
    /*position: fixed;*/
    bottom: 5;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.4s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4 ease;
}

.menu-wrap .menu > div {
    background-color: #961a1d;
    /* border-radius: 3rem;*/
    width: 75vw;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}




.menu-wrap .menu > div > div > ul {
    text-align: left;
}    

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    padding: 1rem;
    
}

.menu-wrap .menu > div >div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.headspace {
    height: 44px;
}

@media only screen and (min-width: 1027px) {
    .menu-wrap {
        display: none;
    }

    .header.christmas {
        display: none;
    }
    
    
}

@media only screen and (max-width: 1027px) {
    .headspace {
        display: none;
    }
    
    .desktop-menu {
        display: none !important;
        
    }
    
    .header-spacer {
        display: none;
    }
    
    .top-bar-alt {
    display: none !important;
    }

    .headlessMobile {
        padding-top: 0px !important;
    }

    
}

.logo {
    max-width: 50vw;
    cursor: pointer;
    margin-right: auto;
    max-height: 100px;
}

.desktop-menu {
    text-align: right;
}



.side-bar {
    display: none;
}

.categoryIntro {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

header.christmas {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 4% 0% 14%;
    /*background: url("https://cdn.givecloud.co/s/files/1/0000/0348/files/red-menu-snowflakes.jpg") repeat top center;
    background-size:cover;  */
}




nav {
    margin-right: 5px;
    margin-left: 5px;
}

.nav_links {
    list-style: none;
    padding-left: 0px;
}

.nav_links li {
    display: inline-block;
    padding: 0rem .9rem;
    
}

.nav_links li:nth-of-type(1) {
    padding-left: 0;
}

 .nav_links li a {
     color: white;
     font-size: 14px;
     text-transform: uppercase;
     font-weight: bold;
 }


a.nav-atn {
    background-color: #0f639e;
    border-radius: .7rem;
    padding: 0.3rem 1.1rem;
    border-color: #0f639e;
    color: white;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .header-spacer.with-top-bar-alt {
        height: 0px;
    }
}

.page-content {
    background-color: none;
    background: none;
}

.categoryBackground {
        
    z-index: -2;
    position: fixed;
    top : 0;
    left: 0;
    
    
}

.form-secondary {
    display: none;
}

.card-img-top {
    object-fit: cover;
}

img.w-100 {
    clip-path: circle(100px at center);
}

.product-grid-item {
    background: transparent !important;
    box-shadow: none !important;
    text-align: center;
}

form > div > .card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09) !important;
}

.toc-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.flex {
    display: flex;
}


hr {
    background: url('https://cdn.givecloud.co/s/files/1/0000/0348/files/ribbon-and-mistletoe-divider.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 100px;
    border: 0;
    position: relative;
    min-width: 100px;
}



.card-price {
    justify-content: center !important;
}

.card-body {
    padding-bottom: 0px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border: 0px solid transparent;
    padding-bottom: 20px;
}